@import url("typography.css");

.App {
  padding: 1em;
}


.sidebar-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 75%;
  grid-gap: 2em;
  margin: 0 auto;
  margin-bottom: 2em;
}

.movies {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  grid-gap: 2em;
  grid-template-rows: 1fr 1fr 1fr;
  border-top: 3px solid #e44a66;
  padding-top: 2em;

}

body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
aside,
article,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header h2{
  text-align: center;
}

img {
  max-width: 100%;
}

.character {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  cursor: pointer;
}

.character img {
  width: 70px;
  opacity: .5;
}

.character:hover h5,
.character:hover img {
  opacity: 1;
  color: #e44a66;
  transition-duration: .2s;
}

.character h5 {
  margin-top: 10px;
  text-align: center;
  color: #8b743d;
}

.movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.movie .release {
  margin-top: 0;
  text-align: center
}

.movie .title {
  text-align: center;
}

.movie img {
  max-height: 200px;
}

.date {
  white-space: nowrap;
}

.loader img {
  width: 100%;
  margin-top: -15em;
}

.error > * {
  color: red;
  text-align: center;
}

.error .message {
  font-size: 50%;
}

.character-name {
  display: initial;
}

@media (min-width: 320px) and (max-width: 767px)  {
  .movies {
    grid-template-columns: 1fr 1fr;
  }

  .character-name {
    display: none
  }

  .character img {
    width: 50px;
}

.loader img {
  margin-top: -5em;
}

}